.project-holvi-design{
  overflow: hidden;
  &:before{
    $image-size-xs: size(70);
    $image-size-sm: size(85);
    $image-size-md: size(100);
    $image-size-lg: size(150);
    $image-size-xl: size(165);
    position: absolute;
    right: 0;
    bottom: calc(0% - #{$image-size-xs} / 3);
    left: calc(50% - #{$image-size-xs} / 2);
    content: " ";
    z-index: -1;
    width: $image-size-xs;
    height: $image-size-xs;
    margin: 0 auto;
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center bottom;
    background-image:    url(/assets/holvi-design/cover.jpg);
    // transform: rotate(7deg);
    @include media-query($min, $screen-sm){
      background-position: center top;
      width: $image-size-sm;
      height: $image-size-sm;
      left: 0;
      right: calc(0% - #{$image-size-sm} / 1.5);
      top: size(8);
      bottom: 0;
    }
    @include media-query($min, $screen-md){
      width: $image-size-md;
      height: $image-size-md;
      right: calc(0% - #{$image-size-md} / 1.25);
      top: size(23);
    }
    @include media-query($min, $screen-lg){
      width: $image-size-lg;
      height: $image-size-lg;
      right: calc(0% - #{$image-size-lg} / 1.5);
      top: size(26);
      transform: rotate(7deg)
    }
    @include media-query($min, $screen-xl){
      width: $image-size-xl;
      height: $image-size-xl;
      top: size(16);
      right: calc(0% - #{$image-size-xl} / 1.5);
      // right: -65%;
      // top: calc(50% - (#{$image-size-xl} / 2) + #{size(7)});
    }
  }
}