.project-holvi{
  background-color: #F6FF6C;
}
$holvi-video-wrapper-widths: (
  $screen-xs: size(25),
  $screen-sm: size(40),
  $screen-md: size(40),
  $screen-lg: size(50)
  );
@each $viewport, $width in $holvi-video-wrapper-widths{
  $holvi-video-wrapper-width: $width;
  $holvi-video-wrapper-height: $holvi-video-wrapper-width * 1.486;
  @include media-query($min, $viewport){
    .project-holvi-video-wrapper{
      height: $holvi-video-wrapper-height;
      width: $holvi-video-wrapper-width;
    }
    .project-holvi-video{
      width: $holvi-video-wrapper-width * .58;
      margin-left: $holvi-video-wrapper-width * .208;
      margin-top: $holvi-video-wrapper-height * .08884073672806068;
    }
  }
}
.project-holvi-video-wrapper{
  background-image: url(/assets/holvi/pixel-932w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}