.project-parallines{
  background-color: #00aeef;
  &:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    opacity: .1;
    z-index: -1;
    background-size:     100vw;
    background-repeat:   no-repeat;
    background-position: center bottom;
    background-image:    url(/assets/parallines/cover.png);
  }
}