.project-smoothie-berries{
  background-color: #E2F4FC;
  &:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    opacity: .3;
    z-index: -1;
    background-size:     75vh;
    background-repeat:   no-repeat;
    background-position: right center;
    background-image:    url(/assets/smoothie-berries/berries-circles.png);
  }
}