$project-animation-timeline: (
  body:    .5s,
  content: .5s,
  hero:    .2s
  );


.project-body{
  will-change: transform;
  transition:
    transform
    map-get($project-animation-timeline, body)
    ease-in-out;
}
.project-body-text{
  will-change: transform;
  transition:
    transform
    map-get($project-animation-timeline, content)
    ease-in-out;
}

.project-animate-enter,
.project-animate-exit{
  .project-body{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .project-body-content{
    overflow: hidden;
  }
}


.project-animate-enter,
.project-animate-exit.project-animate-exit-active{
  // Generic "off" state
  .project-body{
    transform: translateX(100vw);
  }
  .project-body-text{
    transform: translateX(10vw);
  }
}
.project-animate-enter{
  // Intro animation init state
  .project-body-text{
    transform: translateX(10vw);
  }
}
.project-animate-exit.project-animate-exit-active{
  // Outro end state
  .project-body-text{
    transform: translateX(-10vw);
  }
  .project-body,
  .project-body-text{
    transition-delay: map-get($project-animation-timeline, hero);
  }
}

.project-animate-exit,
.project-animate-enter.project-animate-enter-active{
  // Generic "on" state
  .project-body{
    transform: translateX(0);
  }
  .project-body-text{
    transform: translateX(0vw);
  }
}