@import 'project-details-transition';

$project-text-padding-horizontal: (
  $screen-xs: size(2),
  $screen-sm: size(4),
  $screen-md: size(6),
  $screen-lg: size(10)
  );
$project-text-padding-vertical: (
  $screen-xs: size(4),
  $screen-md: size(6),
  $screen-lg: size(10)
  );
$project-copy-block-margin: (
  $screen-xs: size(8),
  $screen-sm: size(10),
  $screen-md: size(12),
  $screen-lg: size(14)
  );
$project-header-padding: (
  $screen-xs: size(1),
  $screen-sm: size(2),
  $screen-md: size(4),
  $screen-lg: size(8)
  );
.project-body{
  z-index: z-map(project-body);
}

.project-hero{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: z-map(project-body-bg);
}
.project-body-content{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  position: relative;
  z-index: z-map(project-body-content);
  @include responsive-params(
    padding-left,
    $sidebar-width-map
    );
  img,video{
    max-width: 100%;
  }
}
.project-body-header{
  margin-top: 0;
  @include responsive-params(
    margin-bottom,
    $project-header-padding
    );
}
.project-body-excerpt p:last-child{
  margin-bottom: 0;
}
.project-body-meta{
  @include media-query($min, $screen-sm){
    margin: 0;
  }
  td{
    margin: 0;
    vertical-align: baseline;
    padding: 0 size(1) size(1) 0;
  }
}
.project-body-meta-divider{
  margin-top: size(-.1);
  margin-bottom: 0;
  @include responsive-params(
    margin-left,
    $project-text-padding-horizontal
    );
  @include responsive-params(
    margin-right,
    $project-text-padding-horizontal
    );
}
.project-body-text{
  position: relative;
  background-color: $color-background;
  @include responsive-params(
    top,
    $sidebar-padding-map
    );
  @include media-query($max, $screen-sm){
    top: size(4);
  }
  padding-bottom: size(20);
  z-index: z-map(project-body-text);
}
.project-body-meta-container,
.project-body-copy{
  @include responsive-params(
    padding-left,
    $project-text-padding-horizontal
    );
  @include responsive-params(
    padding-right,
    $project-text-padding-horizontal
    );
  @include responsive-params(
    padding-top,
    $project-text-padding-vertical
    );
  @include responsive-params(
    padding-bottom,
    $project-text-padding-vertical
    );
}
.project-body-copy-block{
  @include responsive-params(
    margin-top,
    $project-copy-block-margin
    );
  @include responsive-params(
    margin-bottom,
    $project-copy-block-margin
    );
}
.project-body-copy-first{
  margin-top: 0;
}