.project-text{
  margin-top: size(-.5);
  max-width: size(65);
  @include media-query($min,$screen-md){
    margin-top: size(-1);
  }
  @include responsive-params(
    margin-bottom,
    $sidebar-padding-map
    );
}

.project-home-image{
  width: 100%;
  @include responsive-params(
    max-width,
    ( $screen-xs: size(20),
      $screen-sm: size(30),
      $screen-md: size(25),
      $screen-lg: size(35) )
    );
  margin: 0 0 size(2) 0;
  @include media-query($min, $screen-sm){
    margin: 0 auto;
  }
  display: block;
}
.project-header{
  word-break: break-word;
  margin-top: 0;
  margin-bottom: size(2.5);
  @include responsive-params(
    padding-top,
    $sidebar-padding-map
    );
}

.project-excerpt{
  margin-top: size(1);
  hyphens: auto;
}

.project{
  position: relative;
  z-index: z-map(project);
  @include responsive-params(
    padding-left,
    $sidebar-width-map
    );
  @include responsive-params(
    padding-right,
    $project-padding-right-map
    );
}

.project-text-container{
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  @include media-query($min, $screen-sm){
    flex-direction: row;
  }
}
.project-text-wrapper{
  z-index: z-map(project-text-wrapper);
}
.project-attachments{
  position: relative;
  z-index: z-map(project-attachments);
}

.project-text-wrapper,
.project-attachments{
  position: relative;
}

.project.theme-dark{
  position: relative;
  .btn-border{
    &:before,
    &:after{
      background-color: #ffffff;
    }
  }
}

.project-read-more-wrapper{
  padding-top: size(2);
  padding-bottom: size(2);
  margin-top: size(2);
  cursor: pointer;
}
.project-read-more-text{
  margin: size(.5) size(1) 0 0;
}

.project-read-more{
  height: size(3);
  width: size(3);
}

.project-read-more-link{
  border-bottom-style: none;
}
