$about-me-padding-map: (
  $screen-sm: size(6),
  $screen-md: size(12),
  $screen-xl: size(16)
  );
$about-me-header-margin-map:(
  $screen-xs: size(4),
  $screen-sm: 0
  );

.about-me{
  position: relative;
  @include responsive-params(
    padding-left,
    $sidebar-width-map
    );
  z-index: z-map(about-me);
}
.about-me-background{
  position: relative;
  top: size(-8);
  background-color: #f2f2f2;
  overflow-y: hidden;
  @include responsive-params(
    padding-right,
    $project-padding-right-map
    );
  @include media-query($max, $screen-sm){
    flex-direction: column-reverse;
  }
}
.about-me-content{
  position: relative;
  z-index: z-map(about-me-content);
  @include responsive-params(
    padding-top,
    $about-me-padding-map
    );
  @include responsive-params(
    padding-bottom,
    $about-me-padding-map
    );
  @include responsive-params(
    padding-left,
    $about-me-header-margin-map
    );
}
.about-me-button{
  display: inline-block;
  margin-top: size(2);
  border: none;
}
.about-me-header{
  @include responsive-params(
    margin-top,
    $about-me-header-margin-map
    );
  margin-bottom: size(4);
}
.about-me-photo-container{
  position: relative;
}
.about-me-photo{
  display: block;
  width: 50%;
  height: auto;
  z-index: z-map(about-me-photo);
  @include media-query($min, $screen-sm){
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
  // @include media-query($min, $screen-sm){
  //   position: absolute;
  //   bottom: 0;
  //   left: size(-18);
  //   max-height: 100%;
  //   width: auto;
  //   max-width: 100%;
  // }
}