$btn-chevron-size: size(1);
$btn-line-thickness: size(.25);
.btn{
  display: inline-block;
  border: none;
  position: relative;
  transition: transform        .15s ease-in-out,
              opacity          .15s ease-in-out,
              background-color .15s ease-in-out;
  &:hover,
  &:focus,
  &:active{
    .btn-border-top{
      &:before{
        left: 0;
        top: 0;
        width: 100%;
      }
      &:after{
        left: 0;
        top: 0;
        height: 0;
      }
    }
    .btn-border-left{
      &:before{
        left: 0;
        bottom: 0;
        width: 0;
      }
      &:after{
        left: 0;
        bottom: 0;
        height: 100%;
      }
    }
    .btn-border-bottom{
      &:before{
        right: 0;
        bottom: 0;
        height: 0;
      }
      &:after{
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
    .btn-border-right{
      &:before{
        right: 0;
        top: 0;
        width: 0;
      }
      &:after{
        right: 0;
        top: 0;
        height: 100%;
      }
    }
  }
  &:active{
    transform: scale(.99);
    opacity: .7;
    background-color: transparentize($color-text,.9);
  }
  .theme-dark &:active{
    background-color: hsla(0,100%,100%,.1);
  }
}
.btn-label{
  margin: size(1.9) size(5) size(1.6) size(5);
  text-align: center;
}
.btn-border{
  &:after,
  &:before{
    content: " ";
    position: absolute;
    background-color: $color-text;
    width: $btn-line-thickness;
    height: $btn-line-thickness;
    transition: width .2s, height .2s;
  }
}
.btn-border-top{
  &:before{
    left: 0;
    top: 0;
    width: $btn-chevron-size;
  }
  &:after{
    left: 0;
    top: 0;
    height: $btn-chevron-size;
  }
}
.btn-border-left{
  &:before{
    left: 0;
    bottom: 0;
    width: $btn-chevron-size;
  }
  &:after{
    left: 0;
    bottom: 0;
    height: $btn-chevron-size;
  }
}
.btn-border-bottom{
  &:before{
    right: 0;
    bottom: 0;
    height: $btn-chevron-size;
  }
  &:after{
    right: 0;
    bottom: 0;
    width: $btn-chevron-size;
  }
}
.btn-border-right{
  &:before{
    right: 0;
    top: 0;
    width: $btn-chevron-size;
  }
  &:after{
    right: 0;
    top: 0;
    height: $btn-chevron-size;
  }
}
