.footer-email,
.footer-header{
  margin-top: size(1);
  margin-bottom: size(1);
  display: block;
}
.footer-email{
  text-transform: none;
  letter-spacing: .06em;
}
.footer-links{
  opacity: .5;
  margin-top: size(1.5);
}
.footer-links-divider{
  opacity: .5;
  margin: 0 .4em;
}
.footer-email,
.footer-link{
  border: none;
}
.site-footer-source{
  position: absolute;
  bottom: 0;
  @include responsive-params(
    left,
    $sidebar-width-map
    );
  @include responsive-params(
    right,
    $sidebar-width-map
    );
  padding-bottom: size(6);
  opacity: .8;
}