#header{
  display: flex;
}
.site-header{}
.site-header-banner{
  margin-top: size(-1);
  @include responsive-params(
    transform,
    $header-sizes
    );
}
.site-header-wordmark{
  margin-top: size(1.25);
  font-size: ms(3);
  color: #595959;
  line-height: calc-line-height(ms(3), 1.2);
  letter-spacing: 0.3em;
  transition: opacity .5s;
  font-weight: 500;
  hyphens: none;
  &.hidden{
    opacity: 0;
  }
}
