.sidebar{
  @include responsive-params(
    width,
    $sidebar-width-map
    );
  top:0;
  bottom:0;
  left:0;
  position: fixed;
  z-index: z-map(sidebar);
}

// .sidebar-column{
//   position: absolute;
//   top:0;
//   left: 0;
//   bottom:0;
// }

.sidebar-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar-logo,
.sidebar-hint{
  text-align: center;
}

.sidebar-logo{
  @include responsive-params(
    padding-top,
    $sidebar-padding-map
    );
  .logo{
    transition: transform .2s ease-in-out;
    @include responsive-params(
      width,
      $sidebar-logo-sizes
      );
    @include responsive-params(
      height,
      $sidebar-logo-sizes
      );
  }
  &.up{
    .logo{
      transform: rotate(90deg)
    }
  }
}
#sidebar-logo{
  transition: opacity .2s;
  z-index: z-map(sidebar-logo);
  position: relative;
  &.hidden{
    opacity: 0;
  }
}

#sidebar-logo-lottie{
  #stroke{
    transition: stroke;
  }
  &.light #stroke{
    stroke: #fff;
  }
}

.sidebar-hint{
  white-space: nowrap;
  z-index: z-map(sidebar-hint);
  position: relative;
  @include responsive-params(
    padding-bottom,
    $sidebar-padding-map
    );
}
.sidebar-hint-text{
  transform: rotate(-90deg);
  margin: 0;
  padding: size(2);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color .2s, opacity .2s;
  &.hidden{
    opacity: 0;
  }
  &.light{
    color: #fff;
    >.sidebar-hint-text-icon path{
      fill: #fff;
    }
  }
}
.sidebar-hint-text-icon{
  margin-right: size(1);
  & path{
    transition: fill .2s;
  }
}