.swatch{
  display: inline-block;
  padding: size(2);
  min-height: size(8);
  width: size(30);
  >table{
    margin: 0;
    td{
      padding: 0;
    }
    td+td{
      padding-left: size(1);
    }
  }
}

.swatch-main{
  margin: 0 0 size(1) 0;
}