doctype
html(lang="en")
  head
    link(rel='canonical', href='http://vasily.cc/')
    link(rel='shortlink', href='http://vasily.cc/')
    title Vas Zayarskiy
    meta(name='description', content='Product Design, UI/UX and Development. Contact me: +358403694369.')
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- inject:css
    //- endinject
    link(rel="icon"
         href="/assets/images/favicon.ico"
         sizes="16x16 32x32 48x48 64x64"
         type="image/x-icon"
         )
    if locals.ga
      script(async src="https://www.googletagmanager.com/gtag/js?id="+locals.ga)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '#{locals.ga}');
    if locals.hotjar
      script.
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:#{locals.hotjar},hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

  body
    #main

    //- inject:js
    //- endinject
