$sidebar-width-map: (
  $screen-xs: size(8),
  $screen-sm: size(10),
  $screen-md: size(13),
  $screen-lg: size(14),
  $screen-xl: size(22)
  );
$sidebar-padding-map: (
  $screen-xs: size(6),
  $screen-sm: size(8),
  $screen-md: size(10),
  $screen-xl: size(12)
  );
$sidebar-logo-sizes: (
  $screen-xs: size(3),
  $screen-md: size(4)
  );

$project-padding-right-map: (
  $screen-xs: size(2),
  $screen-sm: size(8),
  $screen-md: size(8),
  $screen-lg: size(14),
  $screen-xl: size(22)
  );

$project-full-padding-right-map: (
  $screen-sm: size(4),
  $screen-md: size(8),
  $screen-lg: size(12)
  );

$header-sizes: (
  $screen-xs: scale(.6),
  $screen-sm: scale(.8),
  $screen-md: scale(1)
  );

html{
  font-size: 1rem;
}
html.no-scroll{
  &, & body{
    overflow: hidden;
  }
}
body{
  position: relative;
  background-color: $color-background;
}
a:focus{
  outline: none;
}
$small-grid-color: hsla(0,0,0,.05);
$large-grid-color: hsla(0,0,0,.1);
.large-grid,
.small-grid{
  &:before,
  &:after{
    display: block;
    content: " ";
    pointer-events: none;
    position: absolute;
    z-index: 99999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: top left;
  }
}
.large-grid{
  &:before,
  &:after{
    background-size: size(4) size(4);
  }
  &:before{
    background-image: repeating-linear-gradient(
      0deg,
      $large-grid-color,
      $large-grid-color .99%,
      transparent 1%,
      transparent 100%
    );
  }
  &:after{
    background-image: repeating-linear-gradient(
      90deg,
      $large-grid-color,
      $large-grid-color .99%,
      transparent 1%,
      transparent 100%
    );
  }
}
.small-grid{
  &:before,
  &:after{
    background-size: size(.5) size(.5);
  }
  &:before{
    background-image: repeating-linear-gradient(
      0deg,
      $small-grid-color,
      $small-grid-color 9.9%,
      transparent 10%,
      transparent 100%
    );
  }
  &:after{
    background-image: repeating-linear-gradient(
      90deg,
      $small-grid-color,
      $small-grid-color 9.9%,
      transparent 10%,
      transparent 100%
    );
  }
}
.fullscreen{
  min-height: 100vh;
}
.fullscreen-limited{
  min-height: 100vh;
  @media screen and (min-height: 1120px) {
    min-height: auto;
    height: 100vh;
    max-height: 1120px;
  }
}
.theme-dark,
.text-invert{
  color: #fff;
}
.logo{
  width: size(4);
  height: size(4);
}
.fill-parent{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.transparent{
  opacity: 0;
}
.visible{
  display: block !important;
}
.hidden{
  display: none !important;
}
.row{
  width: 100%;
}
.column{
  display: flex;
  flex-direction: column;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  margin: size(3) 0;
  width: 100%;
}
th{
  @extend .h6;
}
th,td{
  padding: size(1) size(1.5);
}
hr{
  background-color: hsl(0,0%,85%);
  border: none;
  height: size(.125);
  margin: size(8) 0;
}

// // This makes project attachments appear on top of excerpt
// // instead of to the right of it and with a horizontal scrollbar
// .col-xs-12{
//   flex-basis: auto;
// }