$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

$breakpoints:
  sm  $screen-sm  $screen-sm,
  md  $screen-md  $screen-md,
  lg  $screen-lg  $screen-lg,
  xl  $screen-xl  $screen-xl,
  xxl $screen-xxl $screen-xxl;

$z-index-map: (
  html:                 50,
  project:              100,
  project-before:       101,
  project-after:        102,
  project-attachments:  150,
  project-text-wrapper: 151,
  about-me:             200,
  about-me-photo:       201,
  about-me-content:     202,
  project-body:         20000,
  project-body-bg:      20001,
  project-body-content: 20002,
  project-body-text:    20003,
  project-body-close:   20004,
  sidebar:              40000,
  sidebar-logo:         40001,
  sidebar-hint:         40002,
  );

$font-path: '../assets/fonts';
$font-family-celias: "Celias",
                     "Avant Garde",
                     Avantgarde,
                     "Century Gothic",
                     CenturyGothic,
                     "AppleGothic",
                     sans-serif;
$font-family-luzern: "Luzern",
                     Impact,
                     Haettenschweiler,
                     "Franklin Gothic Bold",
                     Charcoal,
                     "Helvetica Inserat",
                     "Bitstream Vera Sans Bold",
                     "Arial Black",
                     sans serif;
$font-family-celias-weights: (
  'Hairline':  100,
  'Thin':      200,
  'Light':     300,
  'Regular':   400,
  'Medium':    500,
  'Bold':      700,
  'Black':     900
  );
$font-family-luzern-weights: (
  'Light':     300,
  'Regular':   400,
  'Medium':    500,
  'Bold':      700,
  'ExtraBold': 800
  );

$color-background: hsl(0,0%,97.5%);
$color-text:       hsl(0,0%,35%);

$grid-step: 0.8; // 8px
$baseline-grid-step: $grid-step / 2;
$heading-line-height-multiplier: 1;